* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root {
    background-color: magenta;
    padding: 20px 30px;
    height: 100vh;
}

.chat-box {
    border: 2px solid red;
    border-radius: 10px;
    padding: 10px 20px;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow-y: auto;
    scroll-behavior: auto;
}

.input-wrapper {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

.input-wrapper button {
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.input-wrapper input {
    padding: 5px 10px;
    width: 50%;
    border-radius: 5px;
}

.second-user-message,
.first-user-message {
    border: 1px solid black;
    border-radius: 15px;
    padding: 3px 7px;
    min-width: 40%;
    max-width: 70%;
    margin-top: 10px;
    background-color: grey;
}

.first-user-message {
    align-self: flex-start;
}

.second-user-message {
    align-self: flex-end;
    text-align: end;
}